# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Data & models
uploads/*
!uploads/.gitkeep
models/*
!models/.gitkeep
database.db

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
