# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
.env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml
.streamlit/config.toml

# =========================
# Local data & cache
# =========================
uploads/
models/
database.db
*.sqlite3
*.db

# Cache directories
.cache/
.pytest_cache/
huggingface/
transformers_cache/
torch_cache/
sentence_transformers/

# =========================
# OS / IDE files
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode / PyCharm
.vscode/
.idea/

# =========================
# Build / Dist
# =========================
build/
dist/
*.egg-info/

venv/
__pycache__/
src/uploads/
*.wav
*.mp4
*.mp3
*.m4a